body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}
.counter {
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
}
.footer{
    text-decoration: none;
}
.cover{

}
.main{
    margin: 100px auto;
    padding: 20px;
}
.picture{
    border: 5px solid yellowgreen;
    border-radius: 15px;
}