body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}
.counter {
    font-size: 2rem;
    color: #333;
    margin-top: 20px;
    padding: 5px;
    border: 5px dotted black;
}
.footer{
    text-decoration: none;
}
.cover{
    align-items: center;
    width: 100%;
}
.main{
    margin: 100px auto;
    padding: 20px;
}
.picture{
    border: 5px solid yellowgreen;
    border-radius: 15px;
}
.parent{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.child{
    height: 300px;
    /* width: 100%; */
}
li{
    font-size: larger;
}
h2{
    font-weight: bolder;
}
